.container_details {
  width: 850px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  background-color:#333c87;
  gap:50px;
  margin-left: 440px;
  margin-top: 100px;
  position: relative;
} 

.detail_img {
  width: 300px;
  height: 400px;
}

.info_detail {
  color: white;
  font-size: 30px;
}

.back {
  color: black;
  position: absolute;
  top: -30px;
  right: 20px;
}

.details {
  color:white
}