.container_ul {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  margin-top: 50px;
  gap:50px;
}

.character_list {
  list-style-type: none;
}

.character_list_error {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  color: #D90429;
  font-size: 20px;
}